/*cores: 
    #361ae6
    #2913ba
    #1b0d8f
    #0e0663
    #000038
*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #5737f5;
}

header {
    box-shadow: 0px 0px 30px 0px black;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #0e0663;
    color: #FFFFFF;
    padding-bottom: 2.5svh;
    padding-top: 1.2svh;
    padding-left: 1.2svh;
}


header > ul {
    list-style-type: none;
}

.sub {
    margin-top: 2.8svh;
}

#content {
    font-size: 13pt;
    margin: 13svh 1svw 2svh 1svw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8vw;
    color: #FFFFFF;
}

.cheats {
    width: fit-content;
    max-width: 20svw;
    padding: 1svh 1svh 2svh 1svh;
    box-shadow: 0px 10px 20px 0px black;
    border-radius: 10px;
}

.cheat-title {
    margin-bottom: 4svh;
}

.buy-button{
    cursor: pointer;
    background-image: linear-gradient(to right, #09C6F9, #045DE9);
    width: 13svw;
    height: 7svh;
    margin-left: 3.4svw;
    margin-top: 1svh;
    border-radius: 50px;
    border: none;
    font-size: 14pt;
    box-shadow: 0px 10px 10px 0px black;
}
.NL {
    background-image: url(img/neverlose.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.GS {
    background-image: url(img/gamesense.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

*::-webkit-scrollbar {
width: 13px;
}

*::-webkit-scrollbar-track {
background: #5737f5;
}

*::-webkit-scrollbar-thumb {
background-color: #02245b;
border-radius: 10px;
border: 2px solid #ffffff;
}