/*cores: 
    #361ae6
    #2913ba
    #1b0d8f
    #0e0663
    #000038
*/
* {
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 940px){
    #content {
        display: flex;
        min-width: 100svw;
    }
    .cheats {
        min-width: 40%;
    }
}

@media only screen and (max-width: 768px){
    #content {
        display: flex;
        flex-direction: column;
    }
    .cheats {
        min-width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buy-button {
        min-width: 50%;
    }
}

@media only screen and (max-width: 300px){
    #content {
        display: flex;
        min-width: 100svw;
    }
    .cheats {
        min-width: 70%;
    }
}


body {
    background-color: #5737f5;
}

header {
    box-shadow: 0px 0px 30px 0px black;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    background-color: #0e0663;
    color: #FFFFFF;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2.5svh;
    padding-top: 1.2svh;
    min-height: 8vh;
    max-height: fit-content;
}


header > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    margin-left: 13%;
}

a {
    color: white;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-image: linear-gradient(to right, #09C6F9, #045DE9);
    max-width: fit-content;
    min-width: 5svw; 
    height: 4svh;
    border-radius: 50px;
    border: none;
    font-size: 14pt;
    box-shadow: 0px 10px 10px 0px black;
    transition: ease-in-out 0.5s;
    padding: 2%;
}

#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notification {
    background-color: white;
    margin: 0% 0 0% 13%;
    width: 4svw;
    text-align: center;
    border-radius: 10px;
    color: red;
    font-size: large;
}

#buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.account {
    display: flex;
    align-items: center;
    gap: 20px;

}

.sub {
    margin-top: 2.8svh;
}

#content {
    font-size: 13pt;
    margin: 13svh 1svw 2svh 1svw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8vw;
    color: #FFFFFF;
}

.cheats {
    display: flex;
    flex-wrap: wrap;
    max-width: 20svw;
    padding: 1svh 1svh 2svh 1svh;
    box-shadow: 0px 10px 20px 0px black;
    border-radius: 10px;
}

.cheat-title {
    margin-bottom: 4svh;
}

.buy-button{
    margin: auto;
    cursor: pointer;
    background-image: linear-gradient(to right, #09C6F9, #045DE9);
    width: 13svw;
    height: 7svh;
    margin-top: 1svh;
    border-radius: 50px;
    border: none;
    font-size: 14pt;
    box-shadow: 0px 10px 10px 0px black;
    transition: ease-in-out 0.5s;
}

.buy-button:hover{
    transform: scale(1.2);
}

.NL {
    background-image: url(img/neverlose.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.GS {
    background-image: url(img/gamesense.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




*::-webkit-scrollbar {
    display: none;

}

*::-webkit-scrollbar-thumb {
    background-color: #02245b;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: black;
}

